In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import glob

In [ ]:
#dados será um dicionário com os comentários e as notas de cada usuário
# as chaves do dicionário são os nomes das atrações turísticas

dados={}

for file in files:
    dados[file.split('/')[-1].split('.')[0]]=pd.read_csv(file, delimiter=';')

In [4]:
dados.keys()

dict_keys(['parque_chapada_dos_veadeiros', 'mercado-ver-o-peso-pa', 'beto-carreiro-sc', 'pelourinho_ba', 'praia-copacabana-rj', 'museu_imperial', 'praca-3-poderes-br', 'museu_arte_sp', 'jardim_botanico', 'elevador_lacerda', 'aqua-rio-rj', 'parque_jalapao', 'parque_nacional_iguacu', 'mercado-central-fortaleza-ce', 'hopi_hari'])

In [14]:
# Análise exploratória

In [49]:
def proporcao_notas(dados):
    '''
    Funcao recebe como input um dicionário com o conjunto de dados inicial e retorna um dataframe específico
    para a atração selecionada contendo o número de avaliações com cada nota e a proporção de cada nota 
    '''
    cont=0
    for i in dados.keys():
        print(str(cont) +'-' +i )
        cont+=1
    num=None
    while num not in np.arange(1,16):
        try:
            num=input('Selecione a atração (digite o número correpondente a atração desejada): ')
        except:
            print('Entrada Inválida. Digite o número da atração desejada ou -1 para sair')
            if num==-1:
                break
            return None
    nome_atracao=list(dados.keys())[num]
    dados_atracao=dados[nome_atracao]
    notas_atracao=dados_atracao.groupby('nota').agg('Número de Avaliações')
    notas_atracao['Proporção de Avaliações']=notas_atracao['Número de Avaliações']/notas_atracao['Número de Avaliações'].sum()
    print('Total de avaliações: {}'.format(notas_atracao['Número de Avaliações'].sum()))
    print(notas_atracao)
    return notas_atracao

In [48]:
list(dados.keys())[0]

'parque_chapada_dos_veadeiros'

In [39]:
x=dados['parque_nacional_iguacu'].groupby('nota').agg(Numero_Notas=('nota','count'))
x['Proporção_Notas']=x['Numero_Notas']/x['Numero_Notas'].sum()
print('Número de avaliações: {}'.format(x['Numero_Notas'].sum()))
x

Número de avaliações: 11097

      Numero_Notas  Proporção_Notas
nota
1.0             17         0.001532
2.0             21         0.001892
3.0            130         0.011715
4.0           1408         0.126881
5.0           9521         0.857980

In [36]:
x

      Numero_Notas  Proporção_Notas
nota
1.0             17         0.001532
2.0             21         0.001892
3.0            130         0.011715
4.0           1408         0.126881
5.0           9521         0.857980

In [22]:
type(x)

pandas.core.frame.DataFrame

In [26]:
x['Numero_Comentários']/x['Numero_Comentários'].sum()

nota
1.0    0.001532
2.0    0.001892
3.0    0.011715
4.0    0.126881
5.0    0.857980
Name: Numero_Comentários, dtype: float64